{% extends "base.html" %}

{% block content %}
<h2>Admin Login</h2>
<form method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Enter Username">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter Password">
    </div>
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
